$mat-card-border-color: rgba(100, 105, 115, 0.1);
$job-card-location-color: rgba(6, 6, 6, 0.44);
$job-card-detail-text-color: rgba(6, 6, 6, 0.41);
$job-card-other-bg-color: #F2F6F8;
$job-card-divider-color: rgba(17, 24, 39, 0.22);
$generate-resume-button-color: #059669;
$expanded-info-badge-color: #E3EAEF;
$expanded-location-text-color: #61666B;
$job-card-you-are-ready-color: #0C131C;
$search-bar-icon-color: rgba(12, 19, 28, 0.65);
$default-font-family: 'Inter, serif';
