.example-spacer {
  flex: 1 1 auto;
}

form {
  font-size: 14px;
}

button {
  font-size: 14px;
}

mat-form-field {
  max-width: 161px;
}

.mat-toolbar-higher {
  height: 77px;
  padding: 13px 15px;
}
