@import 'src/app/styles/variables';

.example-spacer {
  flex: 1 1 auto;
}

form {
  font-size: 14px;
  overflow: hidden;
}

button {
  font-size: 14px;
}

mat-form-field {
  .icon {
    color: $search-bar-icon-color;
  }
}

.mat-toolbar-higher {
  height: 77px;
  padding: 13px 15px;
}
