<mat-toolbar class="mat-toolbar-higher" color="accent" fxLayout fxLayoutAlign="start" fxLayoutGap="36px">
  <form [formGroup]="searchParam" fxFlex fxLayout fxLayoutAlign="start center" fxLayoutGap="13px">
    <ng-container *ngFor="let item of formData">
      <ng-template #selectForm>
        <mat-form-field [fxFlex]="item.flexBasis" appearance="outline">
          <mat-select *ngIf="item.formType === 'select'" [formControlName]="item.name" [placeholder]="item.placeholder"
                      class="svg-arrow mat-accent">
            <mat-option *ngFor="let option of options" [value]="option">{{option | titlecase}}</mat-option>
          </mat-select>
          <mat-icon class="icon" matSuffix>keyboard_arrow_down</mat-icon>
        </mat-form-field>
      </ng-template>
      <mat-form-field *ngIf="item.formType==='input'; else selectForm" [fxFlex]="item.flexBasis"
                      appearance="outline">
        <input [formControlName]="item.name"
               [placeholder]="item.placeholder"
               matInput type="text">
      </mat-form-field>
    </ng-container>
  </form>
  <button color="primary" fxFlex="102px" mat-raised-button>More Filter</button>
</mat-toolbar>
